<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>50 for 50</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="../public/styles/jqvmap.css">

    <link rel="stylesheet" href="../public/styles/styles.css">
</head>

<div class="loader">
    <div class="inner"></div>
</div>

<body data-spy="scroll" data-target="#main-nav" id="home">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" id="main-nav">
        <div class="container">
            <a href="index.html" class="navbar-brand">50 for 50</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#map-head-section" class="nav-link">Map</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- HOME SECTION -->
    <header id="home-section">
        <div class="dark-overlay">
            <div class="home-inner container">
                <div class="row">
                    <div class="col-lg-8 d-none d-lg-block">
                        <h1 class="display-4">We mapped each state's
                            <strong>#1</strong> song. See which songs <strong>dominate</strong> across the country!
                        </h1>
                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fas fa-music fa-2x"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos placeat, commodi
                                sapiente iure
                                vitae mollitia!
                            </div>
                        </div>

                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fas fa-music fa-2x"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos placeat, commodi
                                sapiente iure
                                vitae mollitia!
                            </div>
                        </div>

                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fas fa-music fa-2x"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos placeat, commodi
                                sapiente iure
                                vitae mollitia!
                            </div>
                        </div>
                    </div>

                    <!-- FORM -->
                    <div class="col-lg-4">
                        <div class="card bg-primary text-center card-form">
                            <div class="card-body">
                                <h3>Sign In</h3>
                                <p>Please fill out this form to login</p>
                                <form action="">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-lg" placeholder="Username">
                                    </div>

                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-lg" placeholder="Password">
                                    </div>

                                    <input type="submit" value="Submit" class="btn btn-outline-light btn-block">
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <!-- MAP HEAD -->
    <section id="map-head-section">
        <div class="container">
            <div class="row">
                <div class="col text-center py-5">
                    <h1 class="display-4">MAP</h1>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quibusdam sapiente
                        non officia
                        quia unde dolores magnam eius reiciendis. Ullam.</p>
                    <a href="#" class="btn btn-outline-secondary">Find Out More</a>
                </div>
            </div>
        </div>
    </section>

    <!-- MAP SECTION -->
    <section id="map-section" class="bg-light text-muted py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div id="vmap" class="mb-3 rounded"></div>
                    <!-- <img src="img/slide1.jpg" alt="" class="img-fluid mb-3 rounded-circle"> -->
                </div>
                <div class="col-md-4">
                    <h3>Save Your Favorite Songs</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi, ad! Sed omnis molestiae
                        distinctio quis
                        quas aperiam voluptate explicabo at?</p>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-music fa-2x"></i>
                        </div>
                        <div class="p-4 align-self-end">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius aut ullam quidem adipisci,
                            veniam incidunt?
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-music fa-2x"></i>
                        </div>
                        <div class="p-4 align-self-end">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima voluptates excepturi saepe
                            reprehenderit
                            suscipit illo.

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer id="main-footer" class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col text-center py-4">
                    <h3>50 for 50</h3>
                    <p>Copyright &copy; <span id="year"></span></p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#contactModal">Contact
                        Us</button>
                </div>
            </div>
        </div>
    </footer>

    <!-- CONTACT MODAL -->
    <div class="modal fade text-dark" id="contactModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Contact Us</h5>
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-block">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="../public/scripts/jquery.vmap.js"></script>
    <script type="text/javascript" src="../public/scripts/jquery.vmap.usa.js"></script>

    <script src="../public/scripts/main.js" async defer></script>

</body>

</html>